@{
    ViewBag.Title = "CurrentAppointments";
    Layout = "~/Views/Shared/AdminZone.cshtml";
}
@using System.Data;
@using System.Data.SqlClient;
@using ArcaneClinic.Models;

<div class="container" style="box-shadow:5px 5px 10px 5px gray; margin-top:2%;">
    <div class="row">
        <div class="col-12">
            <br />
            <h2 class="text-center" style="color:rosybrown; font-weight:bolder;"> Current Appointments</h2>
            <hr />
        </div>

        <!-- Responsive Table -->
        <div class="col-12">
            <div class="table-responsive">
                <table class="table table-bordered text-center">
                    <thead>
                        <tr>
                            <th>S.NO</th>
                            <th>Selected Doctor</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Age (in Years)</th>
                            <th>Number</th>
                            <td> Schedule Date</td>
                            <td>Time</td>


                        </tr>
                    </thead>
                    <tbody>
                        @{
                            string query = "select * from Appointment where status='yes'";
                            DataTable dtl = DatabaseManager.Display_All_Records(query);
                            if (dtl.Rows.Count > 0)
                            {
                                for (int i = 0; i < dtl.Rows.Count; i++)
                                {
                                    <tr>
                                        <td>@dtl.Rows[i]["aid"]</td>
                                        <td>@dtl.Rows[i]["sdoctor"]</td>
                                        <td>@dtl.Rows[i]["name"]</td>
                                        <td>@dtl.Rows[i]["email"]</td>
                                        <td>@dtl.Rows[i]["age"] Years</td>
                                        <td>@dtl.Rows[i]["number"]</td>
                                        <td>@dtl.Rows[i]["date"]</td>
                                        <td>@dtl.Rows[i]["time"]</td>

                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="7" class="text-center">No Records Found Here</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

